.App {
  /* background: linear-gradient(to bottom, #341E67, #331440); */
  background: linear-gradient(to bottom, #06c2ec, #0649f1);

  min-height: 100vh;
  width: 100%;
}

.weather__container {
  /* background-color: #604a96; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* justify-content: end; */
  margin: 0 auto;
}
.weather__icon {
  width: 124px;
  margin-top: -12px;
}

.temperature__box {
  color: white;
  font-size: 78px;
  display: flex;
  font-weight: 400;
  margin-top: -14px;
  
}

.temperature {
  font-size: 134px;
  margin-top: 0;
  
}

.temperature__unit {
  /* font-weight: 700; */
  /* margin-left: 12px; */
  /* font-size: 38px;
  margin-top: 22px; */
  margin-top: 10px;
}

.unit__box {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 148px;
  height: 160px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    transparent;
  padding: 20px 6px;
  border-radius: 8px;
  margin: 4px;
  overflow: scroll;
}

.unit__icon {
  font-size: 32px;
  /* background-color: #fafd73; */
  height: 44px;
  width: auto;
}

.unit__box h6 {
  margin-top: 12px;
  font-size: 24px;
  /* background-color: darkorange; */
  height: 88px;
  word-wrap: break-word;
}
.unit__box p {
  margin-top: -24px;
  font-size: 20px;
  font-weight: 400;
}

.humidity__icon {
  font-size: 38px;
}

.pressure__icon {
}
.unit__box__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.unit__box__container__2 {
  margin-top: 36px;
}
.weather__type {
  color: #fafd73;
  font-size: 68px;
  margin-top: 64px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding: 0 4px;
}

.location__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
.location__icon {
  font-size: 28px;
  padding-right: 4px;
  margin-bottom: 4px;
}
.date {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-top: -58px;
}

/* ////// */
.temparature__switch__container {
  text-align: center;
}
.temparature__toggle__switch {
  position: relative;
  width: 125px;
  display: inline-block;
  text-align: left;
  /* top: 8px; */
}
.temparature__toggle__switch__checkbox {
  display: none;
}
.temparature__toggle__switch__label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.temparature__toggle__switch__inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.temparature__toggle__switch__inner:before,
.temparature__toggle__switch__inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.temparature__toggle__switch__inner:before {
  content: "Celcius";
  padding-left: 10px;
  background-color: rgb(25, 2, 156);
  color: #fff;
}
.temparature__toggle__switch__inner:after {
  content: "Fahrenheit";
  padding-right: 10px;
  background-color: #232222;
  color: #fff;
  text-align: right;
}
.temparature__toggle__switch__switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 92px;
  /* left: 0; */
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.temparature__toggle__switch__checkbox:checked
  + .temparature__toggle__switch__label
  .temparature__toggle__switch__inner {
  margin-left: 0;
}
.temparature__toggle__switch__checkbox:checked
  + .temparature__toggle__switch__label
  .temparature__toggle__switch__switch {
  right: 0px;
}

/*  */

.weather__content {
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 88px;
  margin-top: 54px;
}

.weather__content__text {
  max-height: 220px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.weather__content__text.expanded {
  max-height: 500px;
}

.show__more__less__button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  /* background-color: #fff; */
  border-radius: 16px;
  padding: 8px 24px;
  /* width: 302px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 16px;
}

/* .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
} */

.show__more__less__button__icon {
  /* padding-top: 122px; */
  /* background-color: #FAFD73;
  padding-top: 4px; */
  /* padding-top: 44px; */
  /* background-color: #FAFD73; */
  padding-left: 4px;
}

.show__more__less__button__icon__container {
  /* margin-top: 23px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //// */
.temparature__switch__toggle {
  margin-top: -138px;
}
.error__message {
  color: #fff;
  font-size: 24px;
  width: 90%;
  padding-top: 32px;
  text-align: center;
  margin: auto;
}
.warning__logo {
  width: 72px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.error__message__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.error__message__box {
  width: 30%;
  margin: 44px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    transparent;
  border-radius: 8px;
  /* padding-top: 44px; */
  color: #fff;
  text-align: center;
  padding: 16px;
}

@media (max-width: 865px) {
  .weather__container {
    width: 70%;
  }
  .error__message__box {
    width: 60%;
  }
}

@media (max-width: 634px) {
  .weather__container {
    width: 90%;
  }
  .error__message__box {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .weather__container {
    width: 100%;
  }
  .weather__type {
    font-size: 44px;
    margin-top: 44px;
  }

  .temperature__box {
    color: white;
    font-size: 54px;
    display: flex;
    font-weight: 400;
    height: 124px;
    /* background-color: pink; */
    margin: 8px auto;
    margin-bottom: 10px;
  }
  .temperature {
    font-size: 104px;
    margin-top: 0;
  }
  .temperature__unit {
    margin-top: 8px;
    font-weight: 300;
  }
  .weather__content {
    position: relative;
    text-align: center;
    width: 90%;
    padding: 0 0px;
    /* border-top:  2px solid #fff; */
    /* background-color: crimson; */
    /* margin-top: 4px; */
  }
  .unit__box {
    width: 104px;
    height: 120px;
    margin: 4px;
    overflow: scroll;
  }
  .unit__box p {
    margin-top: -24px;
    font-size: 12px;
    font-weight: 600;
  }

  .unit__box h6 {
    /* width: 84px; */

    margin-top: 12px;
    font-size: 18px;
    overflow: scroll;
    padding: 0 4px;
  }

  .unit__icon {
    font-size: 22px;
  }

  .humidity__icon {
    font-size: 28px;
  }

  .temparature__switch__toggle {
    margin-top: 0;
  }
  .date {
    margin-top: -32px;
  }

  .weather__content__text {
    max-height: 180px;
  }

  .unit__box__container {
    overflow: scroll;
  }

  .error__message__box {
    width: 80%;
  }
}
@media (min-width: 1350px) {
  .weather__container {
    width: 45%;
  }
}
